﻿@model AGM.Models.LoginViewModel
@{
    ViewBag.Title = "Dash";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<section class="wrapper">
    <div class="row" id="myStruc">
        <div class="panel-heading" style="background-color: goldenrod">
            <h3 style="color: #428bca">Meetings</h3>
        </div>
        <h2>Dash</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Sign In</h4>
                <hr/>
                <label class="text-danger">
                    @Html.ValidationSummary(true)
                </label>


                <div class="form-group">

                    @Html.LabelFor(model => model.Username, new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Username, new {htmlAttributes = new {@class = "form-control", @title = "Username is  mandatory"}})
                        <br/>
                        @Html.ValidationMessageFor(model => model.Username, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "form-control", @title = "Password is  mandatory"}})
                        <br/>
                        @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-5">
                        <input type="submit" value="Login" class="btn btn-primary"/>
                        <input type="reset" value="Clear" class="btn btn-primary"/>
                    </div>
                </div>




            </div>
        }
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


</section>
