﻿@model AGM.Models.LoginViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<div class="middlePage">
    <div class="page-header">
        <h1 class="logo">
          AGM<small></small>
        </h1>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading" id="Panel">
            <h3 class="panel-title" style="color:white">Please Sign In</h3>
        </div>
        <div class="panel-body" style="height:280px">

            <div class="row" style=" height 210px; width 675px;">

                <div class="col-md-4">

                    <img src="~/images/escrow.png" width="250" />
                </div>

                <div class="col-md-8" style="border-left: 1px solid #ccc; height: 190px">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Sign In</h4>
                            <hr />
                            <label class="text-danger">
                                @Html.ValidationSummary(true)
                            </label>


                            <div class="form-group">

                                @Html.LabelFor(model => model.Username, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @title = "Username is  mandatory" } })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @title = "Password is  mandatory" } })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-5">
                                    <input type="submit" value="Login" class="btn btn-primary" id="btn" />
                                    <input type="reset" value="Clear" class="btn btn-primary" id="btn"/>
                                </div>
                            </div>




                        </div>
                    }


                </div>

            </div>

        </div>
    </div>

    <p>
        <a href="#">About</a>
    </p>

</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>