﻿@model AGM.Models.RegisterReport
@{
    ViewBag.Title = "RegisterReport";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>RegisterReport</h2>


<section class="wrapper">
    <div class="row" id="myStruc">
        <div class="panel-heading" style="background-color: goldenrod">
            <h3 style="color: #428bca">Register Report</h3>
        </div>
 
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Page</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                    <div class="col-md-10">

                        @Html.DropDownListFor(model => model.CompanyName,(IEnumerable<SelectListItem>)ViewBag.Role, new { @onchange = "this.form.submit();" })
               @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.agmID, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.agmID, (IEnumerable<SelectListItem>)ViewBag.Category)
                      @Html.ValidationMessageFor(model => model.agmID, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Generate Report" class="btn btn-info" id="btn"/>
                        <br/>
                        <br />
                        <input type="reset" value="Clear" class="btn btn-info" id="btn" />
                    </div>
                </div>
            </div>
        }

       
    </div>
</section>