﻿@model AGM.Models.ContentViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Admin.cshtml";
}

}

<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckeditor/adapters/jquery.js"></script>
<section class="wrapper">
    <div class="row" id="myStruc">
        <div class="panel-heading" style="background-color: goldenrod">
            <h3 style="color: #428bca">Companies</h3>
        </div>
        <h4>Upload Profile Photo</h4>

        <script type="text/javascript">
            function fileCheck(obj) {
                var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
                if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                    alert("Only '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
                }
            }
        </script>

        @using (Html.BeginForm("CreateImage", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <hr />
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="col-md-10">
                            @{
                                List<SelectListItem> listItems2 = new List<SelectListItem>();

                                listItems2.Add(new SelectListItem
                                {
                                    Text = "Profile",
                                    Value = "Profile"
                                });


                            }

                            @Html.DropDownListFor(model => model.Title, listItems2, "", new { @class = "form-control", })

                            @Html.ValidationMessageFor(model => model.Title)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" name="ImageData" id="ImageData" onchange="fileCheck(this);" required="" />
                        @Html.ValidationMessageFor(model => model.Image)
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Upload" class="btn btn-info btn-lg" />
                    </div>
                </div>
            </div>
                                }
    </div>
    </section>