﻿@model IEnumerable<AGM.Models.ContentViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}
}

<section class="wrapper">
    <div class="row" id="myStruc">
        <div class="panel-heading" style="background-color: goldenrod">
            <h3 style="color: #428bca">Companies</h3>
        </div>
        <h4>Profile Status</h4>



        <br />
        <table class="table" style="width: 1200px;">
            <tr>
                <th>
                    <b>Title</b>
                </th>
                <th>
                    <b>Image</b>
                </th>
                <th>
                    <b>Account ID</b>
                </th>
                <th>
                    Status
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>

                    <td>
                        <img src="~/Photo/RetrieveImage/@item.ID" alt="" height=100 width=100 />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserID)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "DeleteImage", new { id = item.ID }, new { onclick = "return confirm('Are you sure you want to add or remove photo?');" })
                    </td>
                </tr>
            }
        </table>
    </div>
    </section>