﻿@model AGM.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<section class="wrapper">
<div class="row" id="myStruc">
    <div class="panel-heading" style="background-color: goldenrod">
        <h3 style="color: #428bca">Categories</h3>
    </div>
    <h2>Details</h2>

    <div>
        <h4>Category</h4>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Roles.RoleName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Roles.RoleName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoryName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new {id = Model.CategoryID}) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
</section>