﻿@model AGM.Models.AGM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<section class="wrapper">
    <div class="row" id="myStruc">
        <div class="panel-heading" style="background-color: goldenrod">
            <h3 style="color: #428bca">AGMs</h3>
        </div>
        <h2>Details</h2>

        <div>
            <h4>AGM</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Company.CompanyCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Company.CompanyCode)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.AGMstatus)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AGMstatus)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Venue)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Venue)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StartTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StartTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EndTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EndTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StartDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StartDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EndDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EndDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateAdded)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateAdded)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new {id = Model.AGMID}) |
            @Html.ActionLink("Register", "SEdit", new { id = Model.AGMID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</section>