﻿@model AGM.Models.AGM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<section class="wrapper">
    <div class="row" id="myStruc">
        <div class="panel-heading" style="background-color: goldenrod">
            <h3 style="color: #428bca">AGMs</h3>
        </div>
        <h2>Edit</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>AGM</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.AGMID)
                <table class="table table-responsive">
                    <tr>
                        <td>
                            <h4>1.AGM Information</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.AGMstatus, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-10">
                                        @{
                                            List<SelectListItem> listItems = new List<SelectListItem>();
                                            listItems.Add(new SelectListItem
                                            {
                                                Text = "Activate",
                                                Value = "Activate"
                                            });
                                            listItems.Add(new SelectListItem
                                            {
                                                Text = "Deactivate",
                                                Value = "Deactivate",
                                                Selected = true
                                            });

                                        }

                                        @Html.DropDownListFor(model => model.AGMstatus, listItems, "", new { @class = "form-control", })
                                        @Html.ValidationMessageFor(model => model.AGMstatus, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                        </td>


                        <td>
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-10" style="margin-top:4%">
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                        </td>

                        <td>
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.Venue, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-10" style="margin-top:4%">
                                        @Html.EditorFor(model => model.Venue, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Venue, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                        </td>

                        <td>
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.agmtype, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                                <div class="col-md-10">
                                    @{
                                        List<SelectListItem> listItems2 = new List<SelectListItem>();
                                        listItems2.Add(new SelectListItem
                                        {
                                            Text = "AGM",
                                            Value = "AGM"
                                        });
                                        listItems2.Add(new SelectListItem
                                        {
                                            Text = "EGM",
                                            Value = "EGM",
                                            Selected = true
                                        });

                                    }

                                    @Html.DropDownListFor(model => model.agmtype, listItems2, "", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.agmtype, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </td>


                    </tr>
                    <tr>
                        <td>
                            <h4>1.AGM Schedule</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                        </td>


                        <td>
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-10">
                                        @Html.JQueryUI().DatepickerFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } }).ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)
                                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                        </td>

                        <td>
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-10">
                                        @Html.JQueryUI().DatepickerFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } }).ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)
                                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <div class="form-group" style="visibility: hidden">
                                @Html.LabelFor(model => model.DateAdded, htmlAttributes: new {@class = "control-label col-md-2"})
                                <div class="col-md-10">
                                    @Html.JQueryUI().DatepickerFor(model => model.DateAdded, new {htmlAttributes = new {@class = "form-control"}}).ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)
                                    @Html.ValidationMessageFor(model => model.DateAdded, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group" style="visibility:hidden">
                                @Html.LabelFor(model => model.CompanyID, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CompanyID, new { htmlAttributes = new { @class = "form-control" } })
                      @Html.ValidationMessageFor(model => model.CompanyID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-info" id="btn"/>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</section>