﻿@model IEnumerable<AGM.Models.AGM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<section class="wrapper">
<div class="row" id="myStruc">
    <div class="panel-heading" style="background-color: goldenrod">
        <h3 style="color: #428bca">AGMs</h3>
    </div>
    <h2>Index</h2>
      <h4>Number of Activated Companies:@HttpContext.Current.Session["_CompanyID"].ToString()</h4> 
    <h4>Company Name:@HttpContext.Current.Session["_CompanyName"].ToString()</h4>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company.CompanyCode)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.AGMstatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
  
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.CompanyCode)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.AGMstatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
             
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.AGMID}) |
                    @Html.ActionLink("Register", "SEdit", new { id = item.AGMID }) |
                    @Html.ActionLink("Details", "Details", new {id = item.AGMID}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.AGMID})
                </td>
            </tr>
        }

    </table>
</div>
    </section>