﻿@model AGM.Models.AGM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<section class="wrapper">
<div class="row" id="myStruc">
<div class="panel-heading" style="background-color: goldenrod">
    <h3 style="color: #428bca">AGMs</h3>
</div>
<h2>Add Register</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-control-static">
        <h4>AGM</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.AGMID)
        <table class="table table-responsive">
            <tr>
                <td>
                    <h4>1.AGM Information</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.AGMstatus, htmlAttributes: new {@class = "control-label col-md-2"})
                        </div>
                        <div class="col-md-10">
                            @{
                                List<SelectListItem> listItems = new List<SelectListItem>();
                                listItems.Add(new SelectListItem
                                {
                                    Text = "Activate",
                                    Value = "Activate"
                                });
                                listItems.Add(new SelectListItem
                                {
                                    Text = "Deactivate",
                                    Value = "Deactivate",
                                    Selected = true
                                });

                            }

                            @Html.EditorFor(model => model.AGMstatus, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                            @Html.ValidationMessageFor(model => model.AGMstatus, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </td>


                <td>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new {@class = "control-label col-md-2"})
                        </div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                            @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </td>

                <td>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Venue, htmlAttributes: new {@class = "control-label col-md-2"})
                        </div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Venue, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                            @Html.ValidationMessageFor(model => model.Venue, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </td>

                <td>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.agmtype, htmlAttributes: new {@class = "control-label col-md-2"})
                        </div>
                        <div class="col-md-10">
                            @{
                                List<SelectListItem> listItems2 = new List<SelectListItem>();
                                listItems2.Add(new SelectListItem
                                {
                                    Text = "AGM",
                                    Value = "AGM"
                                });
                                listItems2.Add(new SelectListItem
                                {
                                    Text = "EGM",
                                    Value = "EGM",
                                    Selected = true
                                });

                            }

                            @Html.EditorFor(model => model.agmtype, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                            @Html.ValidationMessageFor(model => model.agmtype, "", new {@class = "text-danger"})
                        </div>
                    </div>

                </td>


            </tr>
            <tr>
                <td>
                    <h4>1.AGM Schedule</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.StartTime, htmlAttributes: new {@class = "control-label col-md-2"})
                        </div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StartTime, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                            @Html.ValidationMessageFor(model => model.StartTime, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.EndTime, htmlAttributes: new {@class = "control-label col-md-2"})
                        </div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EndTime, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                            @Html.ValidationMessageFor(model => model.EndTime, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </td>


                <td>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.StartDate, htmlAttributes: new {@class = "control-label col-md-2"})
                        </div>
                        <div class="col-md-10">
                            @ViewBag.StartDate
                            @Html.ValidationMessageFor(model => model.StartDate, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </td>

                <td>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.EndDate, htmlAttributes: new {@class = "control-label col-md-2"})
                        </div>
                        <div class="col-md-10">
                            @ViewBag.EndDate
                            @Html.ValidationMessageFor(model => model.EndDate, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </td>

            </tr>

            <tr>
                <td>
                    <div class="form-group" style="visibility: hidden">
                        @Html.LabelFor(model => model.DateAdded, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.JQueryUI().DatepickerFor(model => model.DateAdded, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}}).ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)
                            @Html.ValidationMessageFor(model => model.DateAdded, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group" style="visibility: hidden">
                        @Html.LabelFor(model => model.CompanyID, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CompanyID, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                            @Html.ValidationMessageFor(model => model.CompanyID, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </td>
                <td>


                </td>
            </tr>
        </table>




    </div>
}


<ul class="nav nav-tabs">
    <li class="active"><a href="#info-tab" data-toggle="tab">Register <i class="fa"></i></a></li>

</ul>

<form id="accountForm" method="post" class="form-horizontal">
    <div class="tab-content">
        <div class="tab-pane active" id="info-tab">
            <img src="~/images/Register-512.png" width="200" height="200" class="img-rounded" alt="Generic placeholder thumbnail">
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Upload Register</button>

        </div>


    </div>


</form>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>


</div>
</section>
    <!-- Modal -->
<div id="myModal" class="modal fade" style="width:100%" role="dialog">
    <div class="modal-dialog" style="width:100%">



        <iframe style="border: none; margin-right: 6%" width="1500" border="0" height="640" src="~/Registers/Index"></iframe>


        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="javascript:window.location.reload()">Close</button>
        </div>
    </div>

</div>
