﻿@model AGM.Models.Company

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<section class="wrapper">
<div class="row" id="myStruc">
    <div class="panel-heading" style="background-color: goldenrod">
        <h3 style="color: #428bca">Companies</h3>
    </div>
  
    <h2>Create Company</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
          
            <hr/>
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})

            <table>
                <tr>
                    <td>
                        <h4>1.Company Information</h4>
                    </td>
                </tr>
                <tr>

                    <td>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.CompanyName, htmlAttributes: new {@class = "control-label col-md-2"})


                            </div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CompanyName, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.CompanyName, "", new {@class = "text-danger"})
                            </div>
                        </div>

                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.ISIN, htmlAttributes: new {@class = "control-label col-md-2"})
                            </div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ISIN, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.ISIN, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.CompanyClassification, htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CompanyClassification, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CompanyClassification, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>


                </tr>

                <tr>
           
                    <td>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.ActivationStatus, htmlAttributes: new {@class = "control-label col-md-2"})
                            </div>
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.ActivationStatus)
                                    @Html.ValidationMessageFor(model => model.ActivationStatus, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>
                        <h4>2.Company Contact</h4>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.Address, htmlAttributes: new {@class = "control-label col-md-2"})
                            </div>
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @cols = 80, @rows = 10 })
                                @Html.ValidationMessageFor(model => model.Address, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.Telephone, htmlAttributes: new {@class = "control-label col-md-2"})
                            </div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Telephone, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.Telephone, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </td>


                    <td>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.Mobile, htmlAttributes: new {@class = "control-label col-md-2"})
                            </div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Mobile, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.Mobile, "", new {@class = "text-danger"})
                            </div>
                        </div>

                    </td>



                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new {@class = "control-label col-md-2"})
                            </div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.Website, htmlAttributes: new {@class = "control-label col-md-2"})
                            </div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Website, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.Website, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-info" id="btn"/>
                            </div>
                        </div>
                    </td>


                </tr>






            </table>
            
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
    </section>