﻿@model IEnumerable<AGM.Models.Company>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<section class="wrapper">
<div class="row" id="myStruc">
    <div class="panel-heading" style="background-color: goldenrod">
        <h3 style="color: #428bca">Companies</h3>
    </div>
   
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-responsive">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyClassification)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivationStatus)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISIN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyClassification)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Website)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivationStatus)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.CompanyID}) |
                    @Html.ActionLink("Details", "Details", new {id = item.CompanyID}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.CompanyID})
                </td>
            </tr>
        }

    </table>
</div>
</section>