﻿@model AGM.Models.Page

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<section class="wrapper">
    <div class="row" id="myStruc">
        <div class="panel-heading" style="background-color: goldenrod">
            <h3 style="color: #428bca">Pages</h3>
        </div>
        <h2>Delete</h2>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Page</h4>
            <hr/>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ControllerName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ControllerName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ViewName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ViewName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.assignedRole)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.assignedRole)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Category)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Category)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default"/> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</section>