﻿@model AGM.Models.Page

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<section class="wrapper">
<div class="row" id="myStruc">
    <div class="panel-heading" style="background-color: goldenrod">
        <h3 style="color: #428bca">Pages</h3>
    </div>
    <h2>Details</h2>

    <div>
        <h4>Page</h4>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ControllerName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ControllerName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ViewName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ViewName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.assignedRole)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.assignedRole)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new {id = Model.PageID}) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
    </section>