﻿@model IEnumerable<AGM.Models.Page>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<section class="wrapper">
<div class="row" id="myStruc">
    <div class="panel-heading" style="background-color: goldenrod">
        <h3 style="color: #428bca"Pages</h3>
    </div>
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ControllerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.assignedRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ControllerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ViewName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.assignedRole)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.PageID}) |
                    @Html.ActionLink("Details", "Details", new {id = item.PageID}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.PageID})
                </td>
            </tr>
        }

    </table>
</div>
    </section>