﻿@model AGM.Models.Register

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<section class="wrapper">
    <div class="row" id="myStruc">
        <div class="panel-heading" style="background-color: goldenrod">
            <h3 style="color: #428bca">Registers</h3>
        </div>
        <h2>Delete</h2>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Register</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.AGM.AGMstatus)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AGM.AGMstatus)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Company.CompanyCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Company.CompanyCode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.memberno)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.memberno)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.regstatus)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.regstatus)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.membertype)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.membertype)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.forenames)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.forenames)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.surnamecompany)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.surnamecompany)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Balance)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Balance)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateAdded)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateAdded)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</section>