﻿@model AGM.Models.Register

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<section class="wrapper">
    <div class="row" id="myStruc">
        <div class="panel-heading" style="background-color: goldenrod">
            <h3 style="color: #428bca">Registers</h3>
        </div>
        <h2>Edit</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Register</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.RegisterID)
                <table class="table table-responsive">

                    <tr>
                        <td>
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.regstatus, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                                <div class="col-md-10">
                                    @{
                                        List<SelectListItem> listItems = new List<SelectListItem>();
                                        listItems.Add(new SelectListItem
                                        {
                                            Text = "Activate",
                                            Value = "Activate"
                                        });
                                        listItems.Add(new SelectListItem
                                        {
                                            Text = "Deactivate",
                                            Value = "Deactivate",
                                            Selected = true
                                        });

                                    }

                                    @Html.DropDownListFor(model => model.regstatus, listItems, "", new {@class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.regstatus, "", new {@class = "text-danger"})
                                </div>
                            </div>

                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.membertype, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-10">
                                        @{
                                            List<SelectListItem> listItems2 = new List<SelectListItem>();
                                            listItems2.Add(new SelectListItem
                                            {
                                                Text = "Physical",
                                                Value = "Physical"
                                            });
                                            listItems2.Add(new SelectListItem
                                            {
                                                Text = "Proxy",
                                                Value = "Proxy",
                                                Selected = true
                                            });

                                        }

                                        @Html.DropDownListFor(model => model.membertype, listItems2, "", new { @class = "form-control", })
                                        @Html.ValidationMessageFor(model => model.membertype, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.forenames, htmlAttributes: new {@class = "control-label col-md-2"})
                                </div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.forenames, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.ValidationMessageFor(model => model.forenames, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group" style="visibility:hidden">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.AGMID, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.AGMID, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AGMID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </td>
                        <td>
                            <div class="form-group" style="visibility: hidden">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.CompanyID, htmlAttributes: new {@class = "control-label col-md-2"})
                                </div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CompanyID, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.ValidationMessageFor(model => model.CompanyID, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group" style="visibility:hidden">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.memberno, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.memberno, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.memberno, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.surnamecompany, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.surnamecompany, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.surnamecompany, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                        </td>


                        <td>
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.Balance, htmlAttributes: new { @class = "control-label col-md-2" })
                                   </div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Balance, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Balance, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                        </td><td>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-info" id="btn" />
        </div>
    </div>
</td>
                        <td>
                            <div class="form-group" style="visibility:hidden">
                                @Html.LabelFor(model => model.DateAdded, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.JQueryUI().DatepickerFor(model => model.DateAdded, new { htmlAttributes = new { @class = "form-control" } }).ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)

                                  @Html.ValidationMessageFor(model => model.DateAdded, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                 
                  
                    </tr>


                </table>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</section>