﻿
@{
    ViewBag.Title = "Importexcel";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<section class="wrapper">
    <div class="row" id="myStruc">
        <div class="panel-heading" style="background-color: goldenrod">
            <h3 style="color: #428bca">Registers</h3>
        </div>
        <h2>Importexcel</h2>
        <p>
            @Html.ActionLink("Register Index", "Index")
        </p>
        @using (Html.BeginForm("Importexcel", "Registers", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>

                <input type="file" id="FileUpload"
                       name="FileUpload" required data-val="true" data-val-required="please select a file" />

                <input type="submit" id="Submit" class="submit" value="Upload" title="Click to upload file" />

            </div>
        }
    </div>
</section>