﻿@model PagedList.IPagedList<AGM.Models.Register>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<section class="wrapper">
    <div class="row" id="myStruc">
        <div class="panel-heading" style="background-color: goldenrod">
            <h3 style="color: #428bca">Registers</h3>
        </div>
        <h2>Index</h2>
        <h4>Company Name: @HttpContext.Current.Session["_CompanyName"].ToString()</h4>
    <h4> Company ID: @HttpContext.Current.Session["_CompanyRegID"].ToString()</h4>
    <h4>AGMID:@HttpContext.Current.Session["_AGMID"].ToString()</h4>


    <p>
        @Html.ActionLink("Upload Register", "ImportExcel")
    </p>
        @using (Html.BeginForm("Index", "Registers", FormMethod.Get))
        {
            <p>
                Find by name: @Html.TextBox("SearchString",ViewBag.CurrentFilter as
string)
                <input type="submit" value="Search" />
            </p>
        }
        <table class="table table-striped">
            <tr>
                <th>
                  AGMstatus
                </th>
                <th>
                CompanyCode
                </th>
                <th>
                  Member No
                </th>
                <th>
               Reg Status
                </th>
                <th>
                Member Type
                </th>
                <th>
                 Forenames
                </th>
                <th>
                    @Html.ActionLink("Surname Company", "Index", new{sortOrder =ViewBag.NameSortParm})
               </th>
                <th>
                   Balance
                </th>
                <th>
                    @Html.ActionLink("Date Added", "Index", new {sortOrder=ViewBag.DateSortParm})
                    
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AGM.AGMstatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Company.CompanyCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.memberno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.regstatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.membertype)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.forenames)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.surnamecompany)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Balance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.RegisterID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.RegisterID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.RegisterID })
                    </td>
                </tr>
            }

        </table>
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
        @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))