﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title-AGM</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
  
    <link href="~/Content/style.css" rel="stylesheet" />

</head>
<body id="body">
 
    <div class="container body-content" >
        @RenderBody()
        <hr />
    
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
